
.input-component {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    font-weight: bold;

    label {
      margin-bottom: 0;
    }

    small {
      color: red;
      font-style: italic;

      &::before {
        content: '* ';
      }
    }

    @media (max-width: 768px) {
      & {
        flex-direction: row;
        align-items: center;
      }

      small {
        margin-left: 0.5rem;

        &::before {
          content: '(';
        }

        &::after {
          content: ')'
        }
      }
    }
  }

  .custom-checkbox {
    left: 1.5rem;
  }

  input, textarea {
    border-color: var(--primary);
    margin-bottom: 1rem;
    font-size: large;
    resize: none;
  }

  .image-picker {
    margin-bottom: 1rem;

    img.avatar {
      width: 8rem;
      height: 8rem;
      margin-left: 1rem;
      margin-right: 1rem;
      object-fit: cover;
      border-radius: 50%;
    }

    img.image {
      width: 6rem;
      height: 8rem;
      margin-left: 1rem;
      margin-right: 1rem;
      object-fit: cover;
      border-radius: 50%;
    }

    .controls {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem;
    }

    input[type="file"] {
      position: absolute;
      left: 1rem;
      top: 2rem;
      z-index: -99;
      opacity: 0;
    }
  }
}
