
.book-details-loading {
  display: flex;
  height: 60vh;

  img {
    margin: auto;
  }
}

#book-details {
  padding-bottom: 8rem;

  img.book-cover {
    width: 100%;
    padding: 0 5rem 2rem;
    object-fit: contain;

    @media (min-width: 768px) {
      padding: 0 1rem 2rem 0;
    }
  }

  .book-title {
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;

    & + .btn {
      align-self: start;
      margin-left: auto;
      width: 80px;

      & > i {
        margin-right: 0.5rem;
      }
    }
  }
}
