
.book-details-loading {
  display: flex;
  height: 60vh;

  img {
    margin: auto;
  }
}

#book-details {
  img.book-cover {
    width: 100%;
    padding: 0 5rem 2rem;
    object-fit: contain;

    @media (min-width: 768px) {
      padding: 0 1rem 2rem 0;
    }
  }

  .book-title {
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;
  }

  .book-prop {
    margin-top: 1.5rem;
    font-weight: bold;
  }

  .book-prop-value {
    margin-top: 1.5rem;
    text-align: justify;
  }
}
