
.horizontal-line-wrapper {
  display: flex;

  button {
    width: 85px;

    i {
      margin: 0.5rem;
    }
  }

  .horizontal-line {
    flex-grow: 1;
    height: 3px;
    width: 100%;
    margin: 2rem 0;
    background-color: var(--main);
  }
}
