
#signup {
  padding-bottom: 8rem;

  .header {
    color: var(--main);
    font-size: x-large;
    font-weight: 800;
    margin-bottom: 3rem;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;

    button[type="submit"] {
      padding-right: 2rem;
      padding-left: 2rem;
      text-transform: uppercase;
    }

    a {
      color: #007bff;
    }
  }

  @media (min-width: 768px) {
    .action-buttons {
      flex-direction: row;
      justify-content: center;
    }
  }
}
