
//Import fonts to the project
@import url('https://fonts.googleapis.com/css2?family=Offside&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

$main: #8257e5;
$primary: #9871f5;
$secondary: #04d361;
$whitish: #f0f0f7;

// Overwrite default theme provided by Bootstrap
$border-radius:               .50rem !default;
$border-radius-lg:            .6rem !default;
$border-radius-sm:            .4rem !default;
$theme-colors: (
  'main': $main,
  'primary': $primary,
  'secondary': $secondary,
  'whitish': $whitish,
);

// Import Bootstrap styles framework
@import '~bootstrap/scss/bootstrap';

// Additional global custom styles
* {
  font-family: Roboto, sans-serif;
}

::selection, ::-moz-selection {
  color: #fff;
  background-color: #8257E5;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
}

#app-title {
  color: #fff;
  font-family: Offside, Roboto, sans-serif;
}

button.btn:focus, a.btn:focus {
  box-shadow: none;
  outline: none;
}

.container-tiny {
  @extend .container;

  @media (min-width: 992px) {
    & {
      max-width: 860px;
    }
  }
}

h1.page-title {
  color: var(--main);
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 3rem;
}

.action-buttons {
  display: flex;
  flex-direction: column;

  button[type="submit"] {
    padding-right: 2rem;
    padding-left: 2rem;
    text-transform: uppercase;
  }

  a {
    color: #007bff;
  }

  @media (min-width: 768px) {
    & {
      flex-direction: row;
      justify-content: center;
    }
  }
}
