
#the-header {
  #app-title {
    font-size: 28px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .user-controls {
    margin-left: 60px;

    img {
      object-fit: contain;
      height: 24px;
      margin-left: 16px;
    }

    .dropdown-menu {
      display: block;
      margin-top: 0;
      right: 0;
      left: auto;
    }
  }
}
